body {
    background-color: black;
    color: white;
    font-family: fantasy;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h2, h3 {
    color: lightgray;
}

a {
    color: aquamarine;
}

p, footer {
    margin: 0;
    font-size: 26px;
}


footer {
    padding: 20px;
}


 /* SCREENSHOTS */
.ss {
    max-width: 100%;
    height: auto;
}



#container {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#33cccc;
}
#flip div:first-child div {
  background:#e6e600;
}
#flip div:last-child div {
  background:#9999ff;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

@media only screen and (max-width: 500px) {
  #container {
    font-size: 30px;
  }
    #flip {
        height: 40px;
    }
    body {
        width: 90%;
    }
    }
}