body {
	background-image: url('../images/new-supper-banana/background.png');
	text-align:center;
	font-size:24px;
	font-family: candara;
	width:70%;
	margin: 0 auto;
}
img {
	max-width:100%;
	height:auto;
}
hr {
	margin-top:70px;
	margin-bottom:70px;
	width:40%;
	color:lightgray;
	text-align:center;
}
a {
	padding:15px;
	color:#3A3A3A;
	font-size:28px;
}
h1, h2 {
	margin-top:100px;
}
h3 {
	margin-top:50px;
}
lite-youtube {
    position: absolute;
    margin: 0 auto;
	margin-bottom:50px;
}

@media only screen and (max-width:1000px) {
	body {
		width:80%;
	}

	/* VIDEO */
	.videocontainer {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px; height: 0; overflow: hidden;
		margin-bottom:50px;
	}
	.videocontainer iframe,
	.videocontainer object,
	.videocontainer embed {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
@media only screen and (max-width:700px) {
	body {
		width:95%;
	}
	iframe {
		width:100%;
	}
	.indiedb {
		width:70%;
	}
}